/* font-family: 'El Messiri', sans-serif;
font-family: 'Philosopher', sans-serif; */
* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/fondo1-estrellas.jpg) center / cover no-repeat;
    /* height: 100vh; */
}
.semihoroskop {
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#month {
    width: 50%;
    margin: 0 auto 5vh;
}
.button {
    background: lightskyblue;
    border-radius: 10px;
    width: 50px;
    margin: 0 auto;
    height: 10vh;
    border: none;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    padding: 10px;
}
.button:hover {
    background: palegoldenrod;
    transition: all 0.2s linear;
}
#horoskopZeichen {
    text-align: center;
    background: pink;
    /* margin-top: 3vh;
    padding: 5vh 0;*/
    border-radius: 5px;
}

.default__text {
    color: darkblue;
    font-family: 'Philosopher', sans-serif;
}
p {
    font-family: 'Philosopher';
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
}

h3 {
    color: palegoldenrod;
    font-size: 3rem;
    font-family: 'El Messiri';
    text-align: center;
    margin-top: 3vh;
}